//1280px


/* ARTICLE BREAKPOINT */
@media only screen and (max-width: 1280px) {
  section article {
    padding: 0 1em;
    box-sizing: border-box;
  }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 1.5em;
  }
  nav {
    font-size: .75em;
  }
}

/* IPAD */
@media only screen and (max-width: 768px) {
  /* TEEN NAIST JARKEVAMPII JOS JAKSAN. */
  h1 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.25em;
  }
  .product-card {
    font-size: .88em;
  }
  .product-card-container {
    flex: 1 0 100%;
  }
  .hide-on-mobile {
    display: none;
  }
  .mobile-flex {
    flex-flow: column wrap;
  }
  .business-card {
    margin: 1em 0!important;
  }
  .contact-form [value="Name"] {
    margin-right: 0;
  }
  .contact-form button:hover {
    transform: scale(1);
  }
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1em;
  }
  .product-card {
    font-size: .75em;
    width: 100%;
  }
  .logo {
    height: 15em;
  }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width: 480px) {
  .product-card {
    font-size: .66em;
    &-container {
      flex: 1 0 100%;
    }
    &-desc {
      flex: 1 0 100%;
    }
  }
}