html, body, section, article, div, nav, input, textarea, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3.5em;
  font-weight: 100;
  margin: 1em 0;
}

a {
  color: #a31f1f;
}

p, a {
  font-size: 2em;
  text-decoration: none;
}
nav p, nav a {
  color: #fff;
}

h1 b {
  font-weight: 400;
}
p b {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.no-margin > * {
  margin: 0;
}

section {
  width: 100%;
  padding: 5rem 0 0 0;
}
section article {
  margin: 0 auto;
  display: block;
}
section.hero {
  background: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  position: relative;
}
section.hero .background {
  width: 100%;
  height: 100%;
  background: url("imgs/kahvipavut.jpg") no-repeat;
  background-size: cover;
  z-index: -1;
  top: 0;
  position: absolute;
}
section.hero article {
  text-align: center;
  color: #fff;
}
section.hero img {
  margin: 0 auto;
  display: block;
}
section:nth-last-of-type(1) {
  min-height: calc(100vh - 5rem);
}

article {
  max-width: 80em;
  width: 100%;
}

.nav {
  width: 100%;
  height: 4em;
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  z-index: 3;
  padding: 0 1em;
  box-sizing: border-box;
}
.nav-link-container {
  display: inline;
  float: left;
  top: 8px;
  position: relative;
}
.nav-link-container > * {
  display: inline;
}
.nav-link-container + .nav-link-container {
  float: right;
}
.nav-link-container a + a {
  margin-left: .25em;
}
.nav-link {
  top: 5px;
  position: relative;
}
.nav-link .svg {
  height: 1em;
  border-radius: .25em;
  filter: brightness(10);
  transition: filter .25s;
}
.nav-link .svg:hover {
  filter: brightness(1);
}

.scroll-links {
  width: 50%;
  display: table;
  font-weight: 100;
}
.scroll-links a {
  display: table-cell;
  width: 33%;
  text-align: center;
  top: 0;
  transition: transform .5s;
}
.scroll-links a:hover {
  transform: scale(1.05);
}

nav .marker {
  height: 100%;
  width: 33%;
  background: rgba(255, 255, 255, 0.4);
  border-radius: .5em;
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto 0;
  transition: left .5s;
}

body.onHero nav .marker {
  left: 0;
}
body.onCoffees nav .marker {
  left: 33%;
}
body.onContact nav .marker {
  left: 66%;
}

.product-card {
  width: calc(40em - 1em);
  height: 25em;
  border-radius: 1em;
  box-sizing: border-box;
  padding: 1.5em;
  margin: .5em auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  position: relative;
  overflow: hidden;
}
.product-card-container {
  flex: 1 0 50%;
}
.product-card-container:nth-of-type(1) {
  flex: 0 1 100%;
}
.product-card-flex {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}
.product-card-img {
  height: 100%;
  left: -1.875em;
  position: absolute;
}
.product-card-img-container {
  height: 15em;
  flex: 1 0 15em;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
}
.product-card-heading {
  flex: 0 1 100%;
}
.product-card-desc {
  flex: 1 0 50%;
  position: relative;
}
.product-card-desc a {
  font-size: 1.4em;
  padding: .25em .5em;
  margin: 1rem;
  background: rgba(0, 0, 0, 0.25);
  transition: background .25s, transform .25s, box-shadow .25s;
  border-radius: .5em;
  color: #fff;
  font-weight: 100;
  position: absolute;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  bottom: -1rem;
  left: 25%;
}
.product-card-desc a:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.075);
}
.product-card-price {
  position: absolute;
  top: .5em;
  right: .5em;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 2em;
  color: white;
  z-index: 1;
}
.product-card-price:before {
  content: '';
  height: 2em;
  width: 6em;
  background: rgba(0, 0, 0, 0.25);
  display: block;
  position: absolute;
  top: -.75em;
  right: -1.75em;
  z-index: -1;
  transform: rotate(35deg);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}
.product-card h1 {
  margin: 0;
}
.product-card p {
  font-size: 1.5em;
  margin: 1rem;
}
.product-card#gold {
  background: linear-gradient(to bottom, #fef8ae 0%, #fef162);
}
.product-card#green {
  background: linear-gradient(to bottom, #edfce6 0%, #bcf5a1);
}
.product-card#powder {
  background: linear-gradient(to bottom, white 0%, #ded4de);
}

.contact-form {
  display: flex;
  flex-flow: row wrap;
}
.contact-form input, .contact-form textarea, .contact-form button {
  margin: .5em 0;
  padding: .5em;
  border: 0;
  color: #b1b1b1;
  background: #ebebeb;
  font-size: 1.5em;
  border-radius: .25em;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  transition: transform .25s, box-shadow .25s, background .25s, border-color .25s;
  border: 1px #ebebeb solid;
}
.contact-form input:focus, .contact-form textarea:focus {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  transform: scale(1.005);
  border-color: #dedede;
  background: #ededed;
}
.contact-form [value="Name"] {
  flex: 0 1 49%;
  margin-right: 2%;
}
.contact-form [value="Email"] {
  flex: 0 1 49%;
}
.contact-form [value="Phone Number"] {
  flex: 0 1 100%;
}
.contact-form [value="Message"] {
  flex: 0 1 100%;
}
.contact-form button {
  background: #606060;
  color: #fff;
  padding: .5em 2em;
  font-weight: 100;
}
.contact-form button:hover {
  background: #808080;
  cursor: pointer;
  transform: scale(1.05);
}

.business-card {
  background: #ebebeb;
  border-radius: .25em;
  padding: 0 1.5em .5em 1.5em;
  flex: 0 1 50%;
  font-size: .75em;
}
.business-card + .business-card {
  margin-left: 1.5em;
}
.business-card > p {
  margin: .25em 0;
}
.business-card-container {
  display: flex;
  margin: 1em 0;
}
.business-card h1 {
  font-weight: 400;
  margin: .25em 0;
}
.business-card .container {
  margin: .5em 0;
}
.business-card .container p, .business-card .container a {
  display: inline;
}
.business-card .fa {
  font-size: 2.5em;
  width: 1em;
  display: inline-block !important;
  text-align: center;
  margin: 0 .25em 0 0;
}
.business-card .fa-envelope {
  transform: scale(0.75);
}

body.loading #loading {
  display: block;
}

#loading {
  display: none;
  height: 100%;
  width: 100%;
  background: #e2c16e;
  z-index: 999;
  position: absolute;
}

/* ARTICLE BREAKPOINT */
@media only screen and (max-width: 1280px) {
  section article {
    padding: 0 1em;
    box-sizing: border-box;
  }
}
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1.5em;
  }

  nav {
    font-size: .75em;
  }
}
/* IPAD */
@media only screen and (max-width: 768px) {
  /* TEEN NAIST JARKEVAMPII JOS JAKSAN. */
  h1 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.25em;
  }

  .product-card {
    font-size: .88em;
  }

  .product-card-container {
    flex: 1 0 100%;
  }

  .hide-on-mobile {
    display: none;
  }

  .mobile-flex {
    flex-flow: column wrap;
  }

  .business-card {
    margin: 1em 0 !important;
  }

  .contact-form [value="Name"] {
    margin-right: 0;
  }

  .contact-form button:hover {
    transform: scale(1);
  }
}
@media only screen and (max-width: 640px) {
  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }

  .product-card {
    font-size: .75em;
    width: 100%;
  }

  .logo {
    height: 15em;
  }
}
/* SMARTPHONES LANDSCAPE */
@media only screen and (max-width: 480px) {
  .product-card {
    font-size: .66em;
  }
  .product-card-container {
    flex: 1 0 100%;
  }
  .product-card-desc {
    flex: 1 0 100%;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .contact-form [value="Name"] {
    flex: 1 0 100%;
  }
  .contact-form [value="Email"] {
    flex: 1 0 100%;
  }
}
